* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  color: black;
  background-color: #131921;
  display: flex;
  flex-direction: row;
  height: 48px;
}
.left__navbar {
  color: white;
  display: flex;
  /* background-color: black; */
}
.search__bar {
  flex: 1;
  color: yellow;
  /* background-color: black; */
}
.left__navbar {
  color: white;
  /* background-color: black; */
}
